# Terminal Behavior
alias aliax="vim ~/.aliases"
alias zshx="vim ~/.zshrc"
alias vimx="vim ~/.vimrc"
alias pryx="vim ~/.pryrc"
alias cst="cs ~/Documents/web/turing/"
alias csd="cs ~/Desktop"
alias csp="cs ~/Documents/web/practice/"
. ~/Applications/Scripts/z.sh
function cs () {
  cd "$@" && ls
}

# Deckset for slides
alias deck="open -a 'Deckset'"

# Rails
alias be="bundle exec"
alias nuke="rake db:drop db:create db:migrate db:seed db:test:prepare"

# Heroku
alias hp='heroku accounts:set personal'
alias hw='heroku accounts:set work'

# Weather
alias weather="curl wttr.in/'Denver'"

# Fancy Git Log
alias glog="git log --pretty=format:\"%Cgreen%h$Creset %Cblue%ad%Creset %s%C(yellow)%d%Creset %Cblue[%an]%Creset\" --graph --date=short"

# SSH Raspberry Pi
alias pi1="ssh pi@rumcherry.local"
alias pi2="ssh pi@cloudberry.local"
alias pi3="ssh pi@elderberry.local"
alias pi4="ssh pi@huckleberry.local"
alias pi5="ssh pi@dewberry.local"
alias pi6="ssh pi@lingonberry.local"

export ERL_AFLAGS="-kernel shell_history enabled"
